.robot-grid-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.logo-container img {
    margin-top: 10px;
}
.robot-grid-container .col {
    border: 1px #d3d3d3 solid;
    height: 60px;
}
.logo-container {
    text-align: center;
}
.input-container {
    margin-top: 20px;
    width: 60%;
}