.robot-grid-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.logo-container img {
    margin-top: 10px;
}
.robot-grid-container .col {
    border: 1px #d3d3d3 solid;
    height: 50px;
    font-size: 12px;
}
.logo-container {
    text-align: center;
}
.input-container {
    margin-top: 10px;
    width: 60%;
}
.input-container textarea {
    font-size: 12px;
}

.input-container .button-container {
    text-align: center;
    margin-top: 10px;
}
.start-cell {
    font-size: 18px;
    color: #4CAF50;
    text-align: center;
}
.end-cell {
    font-size: 18px;
    color: #ff0000;
    text-align: center;
}